.table {
  border-collapse: collapse;
  border-spacing: 0;
  background: #000;
}

.row .cell {
  height: var(--cell-size);
}

.cell {
  width: var(--cell-size);
  min-width: var(--cell-size);
  background: #222;
  border: 1px solid #000;
  border-radius: calc(var(--cell-size) / 3);
}

.cell.on {
  background: #f00;
}

.buttonGroup {
  display: inline-block;
  margin-right: 1em;
}

.buttonGroup:last-child,
.buttonGroup > *:last-child {
  margin-right: 0;
}

.buttonHeader {
  font-weight: 700;
  margin-right: 0.5em;
}
