.bitmapButton {
  display: inline-flex;
  padding: 0;
  line-height: 1.6em;
}

.bitmapButton > * {
  transition: all 0.2s;
  color: #000;
  background: #fff;
}

.deleteText {
  padding: 0 0.5em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.deleteText:hover {
  color: #fff;
  background: var(--button-hover-color);
}

.deleteIcon {
  font-size: 0.9em;
  padding: 0 0.3em;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.deleteIcon:hover {
  color: #fff;
  background: #f00;
}
