:root {
  --button-color: #fff;
  --button-hover-color: rgb(25, 105, 209);
}

html,
body {
  padding: 0;
  margin: 0;
  background: #eee;
}

html,
body,
button {
  font-family: 'Helvetica Neue', 'Arial Nova', Helvetica, Arial, sans-serif;
}

.code {
  font-family: Consolas, monaco, monospace;
}

* {
  box-sizing: border-box;
}

body {
  padding: 1em;
}

a {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 2px 4px;
  margin: -2px -4px;
  transition: all 0.2s;
  color: var(--button-hover-color);
  border-radius: 3px;
}

a:hover {
  color: #fff;
  background-color: var(--button-hover-color);
}

h1 {
  margin-top: 0;
}

h3 {
  margin: 0.5em 0 0.2em;
  font-size: 1.2em;
}

textarea {
  width: 100%;
  height: 150px;
}

button {
  transition: all 0.1s;
  margin: 0 0.5em 0.5em 0;
  border: 1px solid #777;
  border-radius: 3px;
  background: var(--button-color);
  padding: 2px 6px;
  line-height: 1.4em;
  min-width: 2em;
}

button:hover {
  color: #fff;
  background: var(--button-hover-color);
}

